<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head('风无袖')">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments.html :: menu(1)">
</nav>

<br>
<br>
<br>
<br>
<br>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-massive">
        <div class="ui container">
            <h2>404</h2>
            <p>对不起，你访问的资源不存在</p>
        </div>
    </div>

</div>

<br>
<br>
<br>
<br>
<br>

<footer th:replace="_fragments.html :: footer"></footer>

</body>
</html>